
.DS_Store
5 term/.DS_Store
5 term/Scala/.DS_Store


5 term/.idea
5 term/Scala/.idea
5 term/Scala/lab1/.idea
5 term/Scala/lab1/person/.idea
5 term/Scala/StudyBasicScala/.idea
5 term/Scala/StudyBasicScala/.bsp
5 term/Scala/StudyBasicScala/project
5 term/Scala/StudyBasicScala/target
5 term/Scala/StudyBasicScala/build.sbt


5 term/Scala/lab1/.DS_Store
5 term/Scala/lab1/.DS_Store
